.product{
    color: black;
    height: 470px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.product-img{
    width: 270px;
    padding: 6px;
    border-radius: 12px;
}
.add-to-cart-btn{
    background-color: #FFE0B3;
    color: #0E161A;
    border-radius: 0px;
    width: 100%;
    position: absolute;
    border-radius: 0px 0px 8px 8px;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.add-to-cart-btn:hover{
    background-color: #FF9900;
    transition-delay: 100ms;
}
.name-price{
    margin-left: 10px;
}
.name-price h3{
    margin-top: 5px;
    margin-bottom: 10px;
}